# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment
.env
.env.local
.env.production

# Cache
.cache/
.parcel-cache/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
